<footer>
  &copy; Dasht App, {{moment year 'YYYY'}}. <a href="https://github.com/crodriguez1a/dasht-app" target="_blank">Fork us on {{fa-icon "fa-github"}}</a>

  <div class="dev-only">
    <a href="#" {{action 'clearLocalStorage'}}>Reset</a>
  </div>
</footer>
