<div class="filtering">
  <ul>
    {{#each filter in filtersArr}}
      <li>
        <a href="#" class="actionable" {{action 'toggleFilter' filter.name}}>
          {{check-box filter.on}} {{filter.name}}
        </a>
      </li>
    {{/each}}
  </ul>
</div>
