@-webkit-keyframes "pulse" {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
}


@mixin pulsate {
  -webkit-animation: pulse 0.3s ease-out;
  -webkit-animation-iteration-count: infinite;
}


@-webkit-keyframes "pulseOnce" {
  0% {
    -webkit-transform: scale(0.65);
    opacity: 0.0;
  }
  25% {
    -webkit-transform: scale(0.75);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.85);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.95);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
}

@mixin pulsate-once {
  -webkit-animation: pulseOnce 0.3s ease-out;
}
