
$canvas: #ececec;
$canvas-dark: #444444;

$grey: #999;
$light-grey: #ccc;
$dark-grey: #555;
$darker-text: #777;
$lighter-text: #ccc;
$medium-text: #999;
$red: #e32020;
$green: #47b931;
$blue: #0066ff;
$light-blue: #4e95ff;
$orange: #ff982d;
