
$canvas: #ececec;
$canvas-dark: #444444;

$grey: #999;
$light-grey: #ccc;
$dark-grey: #555;
$darker-text: #777;
$lighter-text: #ccc;
$medium-text: #999;
$red: #e32020;
$green: #47b931;
$blue: #0066ff;
$transparent-blue: rgba(0,102,255, 0.35);
$transparent-black: rgba(0,0,0, 0.05);
$light-blue: #67a4ff;
$orange: #ff982d;
$light-orange: #fec181;
