.alpha-sort {
  position: fixed;
  width: 1em;
  height: 50%;
  text-align: center;
  right: 3em;
  bottom: 2em;
  opacity: 0.85;
  ul {
    padding: 1em 0 0 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed;
    li {
      display: table-row;
      a {
        display: table-cell;
        vertical-align: middle;
        text-transform: uppercase;
        font-size: small;
        text-decoration: none;
      }
    }
  }
}
