.filtering {
  position: relative;
  margin-bottom: 0.5em;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-table;
    width: auto;
    min-width: 10em;
    &:first-child {
      padding: 0;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
    &:after {
      clear: both;
    }
    li {
      display: block;
      cursor: pointer;
      margin: 0 2.75em 0 0;
      &.save {
        float: right;
      }
      a {
        display: block;
        text-decoration: none;
        margin: 0 0 1em 0;
        padding: 0;
      }
      &.filter-heading {
        a {
          padding: 0 0 0.5em 0;
          margin: 0 0 0.5em 0;
          border-bottom: 2px solid $transparent-blue;
        }
      }
    }

    &.large-filter-set, &.medium-filter-set {
      width: 75%;
      li {
        &.filter-heading {
          display: block;
          width: 100%;
          a {
            margin-right: 0;
          }
        }
        display: inline-block;
        vertical-align: top;
        width: 12em;
        margin-right: 0.75em;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .messaging {
    margin: 0 0 1em 1em;
    color: $orange;
  }
}
