.keyboard-remote {
  position: fixed;
  background: white;
  right: 3em;
  bottom: 2em;
  width: 10em;
  height: auto;
  border-radius: 1em;
  padding: 0 1em 0.5em 1em;
  opacity: 0.75;
  z-index: 4;
  &.collapsed {
    height: 2em;
    overflow: hidden;
  }
  .keyboard-icon {
    text-align: center;
    @include shake-x();
  }
  ul {
    list-style: none;
    margin: 0.5em 0;
    padding: 0;
    text-align: center;
    li {
      border: 1px solid;
      border-radius: 0.25em;
      display: inline-block;
      padding: 0.5em 0 0.5em 0;

      &.arrow {
        width: 2em;
        text-align: center;
        &.up, &.down {
          display: block;
          margin: 0 auto;
        }
        &.right, &.left {
          margin: 0.5em 0 0.5em 0;
        }
        &.down {
          margin-bottom: 1em;
        }
      }
      &.button {
        margin: 0.5em 0 0.5em 0;
        min-height: 1em;
        display: block;
        width: 100%;
        span {
          display: inline-block;
          position: relative;
          width: 48%;
          &:last-child {
            right: 0;
          }
        }
      }
      &.pressed {
        background: $blue;
        color: white;
      }
    }
  }
  .remote-header {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0.5em;
    span {
      position: absolute;
      left: 1em;
    }
  }
}
