.add-channel, .all-channels {
  text-align: center;
  .installed-channel {
    img {
      opacity: 0.15;
    }
  }
  .new-channel, .installed-channel {
    position: relative;
    margin: 1em 1em 0 0;
    display: inline-block;
    width: 9em;
    height: 9em;
    a{
      display: block;
      &.disabled {
        pointer-events: none;
        cursor: default;
        @include shaky();
      }
      .item-title {
        position: absolute;
        top: 15%;
        left: 10%;
        width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 0;
        text-align: center;
        z-index: 1;
      }
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 1em;
      position: relative;
      z-index: 2;
    }
    span {
      display: inline-block;
      margin-left: 0.5em;
    }
    .delete, .add, .installed {
      position: absolute;
      top: -6px;
      right: -6px;
      width: 1.5em;
      height: 1.5em;
      border: 1px solid;
      border-radius: 1em;
      text-align: center;
      padding-top: 0.25em;
      z-index: 3;
      font-size: 1em;
    }
    .delete {
      border-color: $red;
      color: $red;
    }
    .add {
      color: $green;
      border-color: $green
    }
    .installed {
      border-color: $medium-text;
    }
  }
  input[type="text"] {
    opacity: 0.85;
  }
  button, input[type="submit"] {
    background: $darker-text;
    color: white;
    margin: 1em auto;
    display: block;
    width: 50%;
    padding: 0.5em;
    border: none;
    font-size: 1.25em;
  }
}
