.search-channels {
  input[type="text"] {
    opacity: 0.85;
  }
  button, input[type="submit"] {
    background: $darker-text;
    color: white;
    margin: 1em auto;
    display: block;
    width: 50%;
    padding: 0.5em;
    border: none;
    font-size: 1.25em;
    &:focus {
      background: $orange;
      color: white;
      .fa {
        color:white;
      }
    }
  }
}
