* {
  box-sizing: border-box;
  .hide {
    display: none;
  }
}

html {
  background: $canvas;
}

html, body {
  color: $darker-text;
  font-family: sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.actionable:focus {
  outline: none;
}

input.actionable:focus {
  border: 1px dotted $orange;
}

.actionable:focus:not(input), .actionable a:focus {
  color: $orange;
  img {
    padding: 3px;
    border: 3px solid $orange;
  }
  .fa {
    color: $orange;
  }
  &.active {
    color: $light-orange
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  border-bottom: 1px solid;
  z-index: 1;
}

nav {
  opacity: 0.75;
  &.site-menu {
    cursor: pointer;
    user-select: none;
  }
}

main {
  display: block;
  position: relative;
  top: 5em;
  padding: 2.5em;

  h1, h2, h3, h4 {
    margin: 0 0 1em 0;
    font-weight: 100;
    font-family: sans-serif;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
    &.page-title {
      display: inline-block;
      width: auto;
    }
  }

  h3 {
    font-size: 1em;
  }

  h4 {
    font-size: 1.5em;
  }

  input {
    width: 100%;
    padding: 1em;
    font-size: 1em;
    border: none;
  }

  .outlet {
    min-height: 35.5em;
    .liquid-container {
      height: 100%;
      width: 100%;
    }
    .page-actions {
      position: relative;
      top: 4px;
      right: 0;
      text-align: right;
      vertical-align: top;
      min-height: 3em;
      a {
        display: inline-block;
        text-decoration: none;
        margin-left: 1em;
        padding-left: 1em;
        border-left: 2px solid;
        &:first-child {
          border: none;
        }
        &.editing {
          color: red;
        }
        .notify-number {
          display: inline-block;
          width: 2.25em;
          height: 2.25em;
          border-radius: 50%;
          text-align: center;
          font-weight: normal;
          font-size: small;
          padding: 0.70em 0.55em;
          margin-right: 0.5em;
          vertical-align: middle;
          line-height: 1em;
        }
      }
      .quick-search {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        opacity: 0.95;
        a {
          position: relative;
          z-index: 2;
        }
        .liquid-container {
          position: absolute;
          top: -0.5em;
          right: -0.65em;
          width: 20em;
          height: 2.25em;
          z-index: 1;
        }
        input {
          color: $dark-grey;
          height: auto;
          border-radius: 1em;
          padding: 0.5em 1em 0.5em 1em;
        }
      }
    }
  }

  footer {
    margin-top: 3em;
    border-top: 2px solid;
    height: 2em;
    padding: 1em;
    font-size: 0.85em;
    a {
      text-decoration: none;
      color: $light-blue;
      padding: 10px;
    }
    .fa {
      display: inline-block;
      vertical-align: middle;
      margin-left: 0.15em;
      &.fa-github {
        font-size: 1.5em;
      }
    }
  }

}



* {
  .dev-only {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    background: white;
  }
}
