.add-channel, .all-channels {
  position: relative;
  padding-left: 1em;
  text-align: left;
  width: auto;
  .installed-channel {
    img {
      opacity: 0.15;
    }
  }
  .channel, .installed-channel {
    position: relative;
    margin: 1em 1em 0 0;
    display: inline-block;
    width: 9em;
    height: 9em;
    a{
      display: block;

      &.anchor {
        position: relative;
        top:-5em;
        display: block;
        height: 0;
        width:0;
      }

      &.disabled {
        pointer-events: none;
        cursor: default;
        @include shaky();
      }
      .item-title {
        position: absolute;
        top: 15%;
        left: 10%;
        width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 0;
        text-align: center;
        z-index: 1;
        font-size: 1.1em;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 1.5em;
        position: relative;
        z-index: 2;
      }

      &[title] {
        &:hover {
          &:after {
            /*
            content: attr(title);
            */
          }
        }
      }

    }

    span {
      display: inline-block;
      margin-left: 0.5em;
    }
    .delete, .add, .installed {
      position: absolute;
      width: 100%;
      height: 100%;
      > .fa:first-of-type {
        position: absolute;
        color: $red;
        border-color: $red;
        top: -6px;
        right: -6px;
        width: 1.5em;
        height: 1.5em;
        border: 1px solid;
        border-radius: 50%;
        text-align: center;
        padding-top: 0.20em;
        z-index: 3;
        font-size: 1em;
      }
    }
    .delete {
      > .fa:first-of-type {
        color: $red;
        border-color: $red;
      }
    }
    .add {
      > .fa:first-of-type {
        color: $green;
        border-color: $green;
      }
    }
    .installed {
      > .fa:first-of-type {
        color: $medium-text;
        border-color: $medium-text;
      }
    }

    &.search-result {
      a {
        img {
          border: 2px solid $light-blue;
        }
      }
      .installed {
        border-color: $blue;
        color: $blue;
      }

      &.highlight-channel {
        a {
          img {
            @include shake-x();
          }
        }
      }
    }
  }
}
