.mobile {
  nav {
    a {
      padding: 1em;
    }
    div {
      &.sub-menu {
        a {
          padding-left: 0.75em;
          padding-right: 0.75em;
        }
        .fa {
          right: 1em;
        }
      }
    }
  }
  main  {
    padding: 1em;

    .outlet {
      .page-actions {
        position: relative;
        display: block;
        margin-bottom: 1.5em;
      }
    }

    .add-channel, .all-channels {
      text-align: left;
      left: 0;
      padding: 0;
      .channel, .installed-channel {
        width: 28%;
        height: 28%;
        margin: 6px 0 6px 11px;
        display: inline-table;
        img {
          border-radius: 1em;
        }
        .delete, .add, .installed {
            padding-top: 1px;
        }
      }
    }

    .alpha-sort {
      display: none;
    }

    .filtering {
      padding-left: 0;
      ul {
        display: block;
        width: 100%;
        li {
          display: block;
          &.filter-heading {
            width: 100%;
            a {
              margin: 1.5em 0 0.5em 0;
            }
          }
        }
        &.large-filter-set {
          li {
            width: 100%;
          }
        }
      }
    }
  }
  .flash-wrapper {
      left: 10%;
      right: 10%;
  }
}
