.mobile {
  nav {
    a {
      padding: 1em;
    }
    div {
      &.sub-menu {
        a {
          padding-left: 0.75em;
          padding-right: 0.75em;
        }
        .fa {
          right: 1em;
        }
      }
    }
  }
  main  {
  padding: 1em;

    .outlet {
      .page-actions {
        position: relative;
        display: block;
        margin-bottom: 1.5em;
      }
    }

    .add-channel, .all-channels {
      .new-channel, .installed-channel {
        width: 5em;
        height: 5em;
        margin: 0.8em 0.8em 0 0;
        display: inline-table;
        &:nth-child(3n) {
          margin-right: 0;
        }
        img {
          border-radius: 1em;
        }
        .delete, .add, .installed {
            padding-top: 1px;
        }
      }
    }

    .filtering {
      padding-left: 0;
      ul {
        display: block;
        width: 100%;
        li {
          display: block;
          &.filter-heading {
            width: 100%;
            a {
              margin: 1.5em 0 0.5em 0;
            }
          }
        }
        &.large-filter-set {
          li {
            width: 100%;
          }
        }
      }
    }
  }
}
