nav {
  width: 100%;
  background: white;
  opacity: 0.95;
  a {
    display: block;
    font-size: 0.75em;
    padding: 1em 3em 1em 3em;
  }
  div {
    &.sub-menu {
      background: white;
      ul {
        margin: 0;
        padding: 0;
        li {
          position: relative;
          display: block;
          width: 100%;
          a {
            position: relative;
            font: sans-serif;
            font-weight: 100;
            display: block;
            padding: 0.5em 1.5em 0.5em 2em;
            width: 100%;
            border-top: 1px solid $light-grey;
            font-size: 1.15em;
            z-index: 2;
            text-decoration: none;
          }
          .fa {
            position: absolute;
            top: 0.75em;
            right: 2.5em;
            width: 100%;
            text-align: right;
            z-index: 1;
            &.fa-check {
              color: $light-blue;
              top: 0.5em;
            }
          }
          .choose-theme {
            width: 100%;
            .available-themes {
              ul {
                li {
                  a {
                    height: 2em;
                    display: block;
                    cursor: pointer;
                    &.dark {
                      background: $canvas-dark;
                    }
                    &.light {
                      background: $canvas;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}
