{{app-header menuOpen=attrs.menuOpen
             themesOpen=attrs.themesOpen
             themes=attrs.availableThemes
             onToggleMenu="toggleMenu"
             onToggleThemeMenu="toggleThemeMenu"
             onUpdateTheme="updateTheme"}}

<main>
  <div class="outlet">
    {{liquid-outlet}}
  </div>

  {{app-footer}}

</main>
