{{app-header menuOpen=attrs.menuOpen
             themesOpen=attrs.themesOpen
             themes=attrs.availableThemes
             onToggleMenu="toggleMenu"
             onToggleThemeMenu="toggleThemeMenu"
             onUpdateTheme="updateTheme"}}

<main>
  <div class="flash-wrapper">
    {{#each flash in flashes.queue}}
      {{flash-message flash=flash}}
    {{/each}}
  </div>

  <div class="outlet">
    {{liquid-outlet}}
  </div>

  {{app-footer}}

</main>
